USE [master]
GO
/****** Object:  Database [BankDB]    Script Date: 26/07/2017 1:44:31 CH ******/
CREATE DATABASE [BankDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BankDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\BankDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BankDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\BankDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BankDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BankDB]
GO
USE [BankDB]
GO
/****** Object:  Table [dbo].[AccountBank]    Script Date: 26/07/2017 1:44:32 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccountBank](
	[Code] [nvarchar](100) NOT NULL,
	[Pass] [nvarchar](200) NULL,
	[FullName] [nvarchar](300) NULL,
	[MoneyAmount] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LogBank]    Script Date: 26/07/2017 1:44:32 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LogBank](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DateTranfer] [date] NULL,
	[ReceiveCode] [nvarchar](200) NULL,
	[Amount] [float] NULL,
	[Type] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[AccountBank] ([Code], [Pass], [FullName], [MoneyAmount]) VALUES (N'Code1', N'123', N'Duy', 1500000)
INSERT [dbo].[AccountBank] ([Code], [Pass], [FullName], [MoneyAmount]) VALUES (N'Code2', N'123', N'Đức', 29899999)
INSERT [dbo].[AccountBank] ([Code], [Pass], [FullName], [MoneyAmount]) VALUES (N'Code3', N'123', N'Chí', 20000000)
SET IDENTITY_INSERT [dbo].[LogBank] ON 

INSERT [dbo].[LogBank] ([ID], [DateTranfer], [ReceiveCode], [Amount], [Type]) VALUES (1, CAST(N'2017-07-01' AS Date), N'', 12000, N'0')
INSERT [dbo].[LogBank] ([ID], [DateTranfer], [ReceiveCode], [Amount], [Type]) VALUES (2, CAST(N'2017-07-01' AS Date), N'', 12, N'0')
INSERT [dbo].[LogBank] ([ID], [DateTranfer], [ReceiveCode], [Amount], [Type]) VALUES (3, CAST(N'2017-07-01' AS Date), N'', 123, N'0')
SET IDENTITY_INSERT [dbo].[LogBank] OFF
USE [master]
GO
