USE [master]
GO
/****** Object:  Database [Employees]    Script Date: 10/07/2017 10:54:12 SA ******/
CREATE DATABASE [Employees]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Employees', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\Employees.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Employees_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\Employees_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Employees].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Employees]
GO
USE [Employees]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 10/07/2017 10:54:13 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[EmployeeID] [varchar](100) NOT NULL,
	[EmployeeName] [varchar](200) NULL,
	[Department] [varchar](100) NULL,
	[Salary] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[Employee] ([EmployeeID], [EmployeeName], [Department], [Salary]) VALUES (N'EM001', N'Jonh Carter', N'HR', 3000)
INSERT [dbo].[Employee] ([EmployeeID], [EmployeeName], [Department], [Salary]) VALUES (N'EM002', N'Michael Bean ', N'SC', 1300)
INSERT [dbo].[Employee] ([EmployeeID], [EmployeeName], [Department], [Salary]) VALUES (N'EM003', N'Jimmy', N'MD', 2000)
USE [master]
GO
